# App config
APP_PORT=3000
NODE_ENV= # e.g. development | production

# Database config
DB_HOST= # your_host
DB_PORT= # your_port
DB_NAME= # your_database_name
DB_USERNAME= # your_username
DB_PASSWORD= # your_password

# CORS config
FRONTEND_URL= # e.g. http://localhost:4200