# App config
APP_PORT=3000
NODE_ENV= # e.g. development | production

# Database config
DB_HOST= # your_host
DB_PORT= # your_port
DB_NAME= # your_database_name
DB_USERNAME= # your_username
DB_PASSWORD= # your_password

# JWT config
JWT_SECRET= # e.g. eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
JWT_EXPIRES_IN= # e.g. 1h, 7d

#Cookie sign
COOKIE_SECRET= # your_key

# CORS config
FRONTEND_URL= # e.g. http://localhost:4200