/package-lock.json

# Dependencias y Build
/node_modules
/dist

# Variables de entorno
.env
.env.local

# TSOA / Documentación
src/routes/routes.ts
devlog.md
devlogV2.md
notas.txt

# Sistema y Editores
.DS_Store
.vscode/
.idea/
*.log

# TypeScript
*.tsbuildinfo